/* ===== CONFIGURACIÓN GENERAL ===== */

body{
    background-color:#02030A;
    color:#D6E5F5;
    font-family:Arial, sans-serif;
    margin:0;
    padding:0;
}


/* ===== ENCABEZADO ===== */

.encabezado{
    background-color:#050B1A;
    text-align:center;
    padding:80px 50px;
    max-width:1200px;
    margin:auto;
}


/* ===== INTRODUCCIÓN ===== */

.introduccion{
    background-color:#232C59;
    text-align:left;
    padding:40px;
    max-width:1200px;
    margin:auto;
}

/* ===== MENÚ PRINCIPAL ===== */

.menu-principal{
    background-color:#556597;
    text-align:center;
    padding:40px;
    max-widht:1200px;
    margin:auto;
}


/* ===== PIE DE PÁGINA ===== */

.pie-pagina{
    background-color:#02030A;
    text-align:left;
    padding:20px;
}


/* ===== TÍTULO PRINCIPAL ===== */

h1{
    font-size:60px;
    margin-bottom:10px;
}


/* ===== SUBTÍTULOS ===== */

h2{
    font-size:35px;
    margin-bottom:20px;
}


/* ===== PÁRRAFOS ===== */

p{
    font-size:20px;
    line-height:1.6;
}


/* ===== ENLACES ===== */

a{
    color:#D6E5F5;
    text-decoration:none;
    font-size:22px;
}

/* ===== TARJETAS DEL MENÚ ===== */

.enlace{
    background-color:#232C59;
    width:350px;
    margin:25px auto;
    border-radius:10px;
    overflow:hidden;
}

.enlace:hover{
    background-color:#6B7CA8;
}

.enlace a{
    display:block;
    padding:20px;
    color:#D6E5F5;
    text-decoration:none;
    font-size:28px;
}

/* ===== IMÁGENES DE TARJETAS ===== */

.enlace img{
    width:100%;
    height:170px;
    object-fit:cover;
    border-radius:10px 10px 0 0;
    display:block;
}

.historia-principal{
    max-width:1000px;
    margin:auto;
    padding:40px;
}

.historia-principal img{
    width:100%;
    max-width:800px;
    display:block;
    margin:30px auto;
    border-radius:10px;
}

/* ===== CONTENEDOR GENERAL ===== */

.historia-principal article{
    padding:25px;
    margin:30px 0;
    border-radius:12px;
}

/* ===== INTRODUCCIÓN ===== */

.introduccion{
    background-color:#101A35;
    border-left:6px solid #7DA7D9;
}

/* ===== REY PÁLIDO ===== */

.rey-palido{
    background-color:#141824;
    border-left:6px solid #E8E8E8;
}

/* ===== EDAD DE ORO ===== */

.edad-de-oro{
    background-color:#182548;
    border-left:6px solid #AFC6E9;
}

/* ===== INFECCIÓN ===== */

.infeccion{
    background-color:#1A1008;
    border-left:6px solid #F28C28;
}

/* ===== RECIPIENTES ===== */

.recipientes{
    background-color:#0D0D12;
    border-left:6px solid #8A8A8A;
}

