body{
    background: #111;
    color: #eaeaea;
    font-family: Georgia, serif;
    margin: 0;
    padding: 0;
}

.encabezado{
    text-align: center;
    padding: 40px 20px;
}

.encabezado h1{
    font-size: 3rem;
    color: white;
    text-shadow: 0 0 15px #ffffff;
}

.encabezado p{
    max-width: 900px;
    margin: auto;
    font-size: 1.2rem;
    line-height: 1.7;
}

.linea-hechizo{
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 30px;

    margin: 50px auto;
    max-width: 1400px;
}

.hechizo{
    width: 600px;

    padding: 25px;

    border-radius: 20px;

    transition: 0.3s;
}

.hechizo:hover{
    transform: translateY(-5px);
}

.alma{
    background: linear-gradient(
        135deg,
        #ffffff,
        #ececec,
        #d8d8d8
    );

    color: #111;

    border: 3px solid white;

    box-shadow:
        0 0 20px rgba(255,255,255,0.5);
}

.alma h2{
    color: #111;
    text-align: center;

    text-shadow:
        0 0 10px white;
}

.vacio{
    background: linear-gradient(
        135deg,
        #050505,
        #171717,
        #252525
    );

    color: #f0f0f0;

    border: 3px solid #5b4a8f;

    box-shadow:
        0 0 20px rgba(100,70,170,0.5);
}

.vacio h2{
    color: #d6c5ff;

    text-align: center;

    text-shadow:
        0 0 10px #8f74ff;
}

.hechizo h3{
    margin-top: 25px;

    border-bottom: 2px solid currentColor;

    padding-bottom: 5px;
}

.hechizo img{
    display: block;

width: 220px;
height: 220px;

    margin: 20px auto;

    object-fit: contain;

    border-radius: 15px;
}

.pie-pagina{
    text-align: center;

    margin-top: 50px;

    padding: 25px;

    background: #000;
}

.menu{
    background-color: #05070d;

    display: flex;

    justify-content: center;

    flex-wrap: wrap;

    gap: 20px;

    padding: 15px;

    border-bottom: 2px solid #1e2d45;
}

.menu a{
    color: #d9e8ff;

    text-decoration: none;

    font-weight: bold;

    padding: 10px 15px;

    border-radius: 10px;

    transition: 0.3s;
}

.menu a:hover{
    background-color: #1e2d45;

    color: white;

    box-shadow: 0 0 10px #6ca8ff;
}

.menu .activo{
    background-color: #28446e;

    box-shadow: 0 0 12px #6ca8ff;
}

body{
    background:
    linear-gradient(
        180deg,
        #060606,
        #111111,
        #060606
    );
}

.encabezado h1{
    color: white;

    text-shadow:
        0 0 10px white,
        0 0 25px #d9d9d9;
}
